body {
  margin: 0;
  font: 16px sans-serif;
  background: #fff;
  color: #246;
  position: relative;
}
ul {
  padding-left: 24px;
  list-style-image: url("/static/img/right_arrow.svg");
}
blockquote {
  border-left: 4px solid #69c;
  padding-left: 16px;
  margin-left: 0;
  margin-right: 0;
}
a {
  color: #06c;
}
a:visited {
  color: #69c;
}
a:hover {
  color: #000;
  text-decoration: none;
}
.displayNone {
  display: none;
}
#gohome {
  height: 80px;
  background: #369;
  border-bottom: 1px solid #c90;
  margin: 0;
}
#gohome a {
  display: block;
  width: 200px;
  height: 80px;
  margin: 0 auto;
  background: url("/static/img/haskell-kr_typo.svg") center center no-repeat;
}
#gohome span {
  visibility: hidden;
}
h1.index {
  content: '';
  display: block;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: -2;
  background: #000;
}
h1.index span {
  display: none;
}
h1.index:before {
  content: '';
  display: block;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("/static/img/group_1280.jpg") center center no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
h1.index:after {
  content: '';
  display: block;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: rgba(51,102,153,0.5);
}
#desc {
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 40px;
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  word-break: keep-all;
  line-height: 2;
  text-shadow: #036 1px 1px;
}
@media only screen and (max-width: 1080px) {
  #desc {
    max-width: 660px;
  }
}
@media only screen and (max-width: 767px) {
  #desc {
    max-width: 300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
  #desc {
    font-size: 18px;
  }
  #desc .connect {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  #desc {
    font-size: 16px;
    max-width: 300px;
    height: auto;
    padding: 0 20px;
  }
}
#next_meetup {
  background: transparent;
  position: relative;
  margin: 40px 0;
}
#next_meetup a {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 260px;
  margin: 20px auto;
  border: 1px solid rgba(255,204,0,0.5);
  padding: 0 20px;
}
#next_meetup a:hover {
  border-color: #fc0;
  background: rgba(51,102,153,0.5);
}
#next_meetup h2 {
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  margin-top: 0;
  padding: 16px;
}
#next_meetup ul {
  text-align: center;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
#next_meetup li {
  line-height: 2;
}
#content {
  margin: 0 auto 20px auto;
  max-width: 720px;
  padding: 20px;
  line-height: 2;
}
#content h1,
#content h2,
#content h3,
#content h4 {
  color: #69c;
  font-weight: normal;
}
#content h1 {
  margin-top: 0;
  text-align: center;
  font-size: 32px;
  color: #26a;
}
#content h2 {
  font-size: 28px;
  border-bottom: 1px solid #def;
}
#content h3 {
  font-size: 24px;
}
@media only screen and (max-width: 767px) {
  #content h1,
  #content h2,
  #content h3,
  #content h4 {
    font-size: 16px;
  }
}
#content img {
  max-width: 100%;
}
#content p {
  text-align: justify;
}
.section {
  background: #fff;
  border-top: 1px solid #69c;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}
.section h2 {
  font-weight: normal;
  text-align: center;
  color: #69c;
}
.stripe {
  background: #def;
}
.cr {
  max-width: 1080px;
  margin: 0 auto;
}
@media only screen and (max-width: 1080px) {
  .cr {
    max-width: 720px;
  }
}
@media only screen and (max-width: 767px) {
  .cr {
    max-width: 300px;
  }
}
.cr:after {
  content: '';
  display: table;
  clear: both;
}
.cp {
  max-width: 720px;
  margin: 0 auto;
  line-height: 2;
  text-align: justify;
}
@media only screen and (max-width: 1080px) {
  .cp {
    max-width: 660px;
  }
}
@media only screen and (max-width: 767px) {
  .cp {
    max-width: 300px;
  }
}
.c3 {
  width: 300px;
  text-align: justify;
  float: left;
  margin: 0 30px;
}
.c3 h3 {
  text-align: center;
  font-weight: normal;
}
.c3 p {
  line-height: 2;
  height: 260px;
}
@media only screen and (max-width: 767px) {
  .c3 {
    margin: 0;
    float: none;
  }
}
.pict h2 {
  color: #369;
  text-shadow: #fff 1px 1px;
  padding: 140px 0 24px 0;
  background: url("/static/img/picto_haskell.svg") top center no-repeat;
  padding-bottom: 24px;
  border-bottom: 1px solid #9bd;
  margin: 16px auto;
  max-width: 1020px;
}
@media only screen and (max-width: 1080px) {
  .pict h2 {
    max-width: 660px;
  }
}
@media only screen and (max-width: 767px) {
  .pict h2 {
    max-width: 300px;
  }
}
.pict h3 {
  color: #369;
  padding-top: 140px;
  background-position: top center;
  background-repeat: no-repeat;
}
.pict_perf {
  background-image: url("/static/img/picto_shuttle.svg");
}
.pict_corr {
  background-image: url("/static/img/picto_gearshot.svg");
}
.pict_conc {
  background-image: url("/static/img/picto_chip.svg");
}
.pict_comp {
  background-image: url("/static/img/picto_cube.svg");
}
.pict_tool {
  background-image: url("/static/img/picto_monitor.svg");
}
.pict_comm {
  background-image: url("/static/img/picto_school.svg");
}
.normalnav {
  background: #fbf6dd;
  border-top: 1px solid #ccc;
  padding: 16px;
  line-height: 2;
}
.normalnav h2 {
  color: #543;
  font-size: 1em;
  text-align: center;
}
.normalnav a {
  text-decoration: none;
  color: #765;
  display: block;
}
.normalnav a:hover {
  color: #06c;
  font-weight: bold;
}
@media only screen and (min-width: 767px) {
  .normalnav {
    text-align: center;
  }
  .normalnav h2 {
    display: none;
  }
  .normalnav ul,
  .normalnav li {
    display: inline;
  }
  .normalnav a {
    display: inline-block;
    min-width: 6em;
    padding: 0 1em;
  }
  .normalnav ul {
    padding-left: 0;
    border-right: 1px solid #edc;
  }
  .normalnav li {
    border-left: 1px solid #edc;
    margin-right: -4px;
  }
}
#popupNav {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  padding: 0 32px;
  text-align: center;
}
#popupNav h2 {
  line-height: 1;
  font-size: 16px;
  margin: 32px;
  color: #ccc;
}
#popupNav ul {
  padding: 0;
  list-style: none;
  border-top: 1px solid rgba(255,255,255,0.1);
}
#popupNav a {
  color: #ccc;
  display: block;
  text-decoration: none;
  padding: 16px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
#popupNav a:hover {
  background: rgba(255,255,255,0.1);
}
@media only screen and (max-width: 767px) {
  #popupNav {
    left: 0;
    background: #000;
  }
}
@media only screen and (min-width: 768px) {
  #popupNav {
    width: 256px;
  }
}
a.menuButton {
  z-index: 4;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background: url("/static/img/hamburger.svg") center center no-repeat;
}
.notice {
  background: #fc0;
  padding: 1px 16px;
}
.notice p,
.notice ul {
  margin: 8px 0;
}
#footer {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  background: #def;
  color: #999;
  border-top: 1px solid #6cf;
}
#footer a {
  color: #69c;
}
@media only screen and (max-width: 767px) {
  body > * {
    max-height: 9999cm;
  }
}

